.custom_disable {
    background-color: #f0f0f0!important;
    opacity: 1.5!important;
}

#canvas-holder {
    display: flex;
}
/*#upload_pdf {
    margin-left: -108%;
    margin-top: 8px;
    height: 48px;
}

#remove_file {
   margin-top: 8px;
    height: 48px;
    margin-left: 43%;
}

#upload_pdf {
    margin-left: -217%;
    margin-top: 8px;
    height: 48px;
}

#download_file {
   margin-top: 8px;
    height: 48px;
    margin-left: -76%;
}*/
#create_pog_btn {
    margin-left: 12px;
}

div#signature .t-Form-fieldContainer {
    width : 20% !important;    
    display: inline-block ;
}

.nav_back .fa-remove {
    padding-top: 6%;
    padding-right: 18%;
}

.nav_back {
    width: 3% !important;
}
/*Dynamic container when drag product from Product list.*/
#draggingContainer {
    position: absolute;
    display: inline-block;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: inline-flex;
    
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;

    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
}
/*remove body padding*/
.t-Body-contentInner {
    padding: 0px !important;
}

/* #maincanvas {
   width: 100%;
   height: 100%;
   display: block;
} */

/* Product details IG CSS*/
#draggable_table td.is-readonly {
    background-color: transparent !important;
}
.colorpicker {
    z-index:10000 !important;
}

#draggingContainer {
    z-index:10000 !important;
}
/* End Product details IG CSS*/
/* Top and left bar button hightlight on select*/
.selected {
    background-color: #deedfc !important;
}

.highlight {
    background-color: #deedfc !important;
}

#draggable_table tbody tr {
    cursor: pointer;
}

.live_image_active {
  background-color: #4CAF50;
}
.enable_maximize_facings {
  background-color: #4CAF50;
}
.show_peg_tags {
  background-color: #4CAF50;
}
.show_peg_tags {
  background-color: #4CAF50;
}
.auto_position_active {
  background-color: #4CAF50 !important;
}
.peg_hole_acive {
  background-color: #4CAF50 !important;
}
.item_color_active {
  background-color: #4CAF50 !important;
}
.fixel_label_active {
  background-color: #4CAF50 !important;
}
.max_merch_active {
  background-color: #4CAF50 !important;
}

.item_label_active {
  background-color: #4CAF50 !important;
}
.notch_label_active {
  background-color: #4CAF50 !important;
}
.overhung_shelf_active {
  background-color: #4CAF50 !important;
}
.item_sublabel_active {
  background-color: #4CAF50 !important;
}
.auto_depth_active{
background-color: #4CAF50 !important;
}
/* End Top and left bar button hightlight on select*/
/* Top bar buttons*/
.top-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.top-bar a {
  width: 5.5%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 10px;
  cursor: pointer;
}

.float_left {
  float: left;
  }
  
 .float_right {
  float: right !important;
  }

.top-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}
/* End Top bar buttons*/
/* Left bar buttons*/
.side-bar {
  background-color: #555;
}

.side-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.side-bar a:hover {
  background-color: #000;
}
.flex_container {
    display :flex;
}

@media all and (max-width:30em){
a.button1{
display:block;
margin:0.4em auto;
}
}


.left_icon .left_arrow {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 3%;
}

.left_icon .left_arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.left_icon:hover .left_arrow {
  visibility: visible;
}
/* End Left bar buttons*/
/* Top bar drop down onhover*/
.submenu {
  display: none;
}

li:hover .submenu {
  display: block;
  position: absolute;
  top: 50%!important;
  width: 200px;
  right: -200px;
  background-color: #1b1a1a;
  padding: 0;
}

.submenu li {
  list-style: none;
  color: #B0BEC5;
}

.edit_submenu {
  display: none;
}

li:hover .edit_submenu {
  display: block;
  position: absolute;
  top: 82%;
  width: 200px;
  right: -190px;
  background-color: #1b1a1a;
  padding: 0;
}

.item_group_submenu li, .item_sublbl_submenu li {
  list-style: none;
  color: #B0BEC5;
}

.item_group_submenu, .item_sublbl_submenu {
  display: none;
}

li:hover .item_group_submenu, li:hover .item_sublbl_submenu {
  display: block;
  position: absolute;
  top: 82%;
  width: 200px;
  right: -190px;
  background-color: #1b1a1a;
  padding: 0;
}

.edit_submenu li {
  list-style: none;
  color: #B0BEC5;
}
li:hover #item_group_sub, li:hover #item_sublbl_sub {
  display: block;
  position: absolute;
  top: 0;
  width: 200px;
  right: -200px;
  background-color: #1b1a1a;
  padding: 0;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 10px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 5px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #4CAF50;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  cursor: pointer;
}

.dropdown-content a {
  float: none;
  color: black;
  background-color: #f9f9f9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.right-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
  left: auto;
  right: 0;
}

.right-dropdown-content a {
  float: none;
  color: black;
  padding-left: 3px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
}

.right-dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .right-dropdown-content {
  display: block;
}
/* End Top bar drop down onhover*/
/* Right click context menu*/
#context-menu {
    position: fixed;
    z-index: 10000;
    width: 11vw;        /*10vw ASA-1538*/
    background-color: #1b1a1a;
    transform: scale(0);
    transform-origin: top left;
    transition: transform 200ms ease-in-out;

}

#context-menu ul {
    list-style-type: none;
    margin: 0px !important;
}

#renumbering_drop ul {
    list-style-type: none;
    margin: 0px !important;
}

#object_info {
    position: fixed;
    z-index: 600;
    width: 10vw;
    color: white;
    background-color: #1b1a1a;
    transform: scale(0);
    transform-origin: top left;

}

#context-menu.active {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#object_info.active {
    transform: scale(1);
}

#context-menu .items{
    /*padding-left: 10px;*/
    font-size:15px;
    color: white;
    cursor: pointer;
    display: block;
    height: 4vh;
    padding-left: 7%;
    padding-top: 4%;
    /*margin: 2vh;*/
}

#context-menu .items a {
    display: inline-block;
    margin-right: 5px;
}
#context-menu .items:hover {
    background-color: #555;
    background: -webkit-linear-gradient(to bottom, #5D6D79, #2E3940);
    background: linear-gradient(to bottom, #5D6D79, #2E3940);
    border: 1px solid #2E3940;
}
#context-menu hr {
    margin: 2px 0px;
    border-color:#555;
}
/* End Right click context menu*/
/* Dummy region to measure text*/
#ruler { 
    visibility: hidden; 
    white-space: nowrap; 
}
/*Right click context submenu*/
#selection {
      position: absolute;
      background: rgba(218, 215, 218, 0.5);
      opacity: 50%;
      width: 50px;
      height: 50px;
      z-index: 1;
    visibility: hidden; 
}

.clear_pog_info, .auto_position, .reset_zoom, .open_product{
    cursor: pointer !important;
}

/* Facings right click css*/
.facing_submenu {
  display: none;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

li:hover .facing_submenu {
  display: block;
  position: absolute;
  top: 83%;
  width: 190px;
  right: 190px;
  background-color: #1b1a1a;
  color: white;
  padding-left:20px;
}

.input-group, .input-group1, .input-group2 {
  clear: both;
  margin: 10px 0;
  position: relative;
  display: inline-flex;
}

.input-group input[type='button'], .input-group1 input[type='button'],
.input-group2 input[type='button']{
  background-color: #1b1a1a;
  border: 1px solid #525050;
  color: white;
  text-decoration: none;
  min-width: 20px;
  width: auto;
}

.input-group .button-minus,
.input-group .button-plus, 
.input-group1 .button-minus,
.input-group1 .button-plus,
.input-group2 .button-minus,
.input-group2 .button-plus{
  font-weight: bold;
  height: 20px;
  padding: 0;
  width: 38px;
}

.input-group .quantity-field, .input-group1 .quantity-field,
.input-group2 .quantity-field{
  height: 20px;
  left: -6px;
  text-align: center;
  width: 30px;
  display: inline-block;
  font-size: 13px;
  margin: 0 2px 5px;
  resize: vertical;
  background-color: #c1baba;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
/*End Right click context submenu*/

/*css for custom standard color box*/
:root {
  --co-primaryColor: #1976D2;
}

.co-color-list {
  position: absolute;
  width: 312px;
  background: white;
  padding: 15px;
  z-index: 999;
  box-sizing: border-box;
}

.co-color-list::before {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.co-color-list--bellow::before {
  top: -10px;
  border-bottom: 10px solid white;
}

.co-color-list--left::before {
  left: 140px;
}

.co-color-list .color-pallet {
  margin: 0 0 15px;
  transition: all 450ms;
  padding: 0;
}

.co-color-list .color-pallet li {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.co-color-list ul.color-reset {
  padding: 0;
}

.co-color-list ul.color-reset li {
  width: 100%;
  height: inherit;
  padding: 0;
}

.co-shadow-3dp {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
}

.co-button-flat {
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  font-size: 14px;
  border-radius: 2px;
  color: var(--co-primaryColor);
  background: transparent;
  cursor: pointer;
  display: inline-block;
  transition: all 400ms;
  text-transform: uppercase;
  text-align: center;
}

.co-width-100-percentage {
  width: 100%;
}

.co-font-color-black-54 {
  color: rgba(0, 0, 0, .54);
}

/*#top_bar{
     position: fixed;
}
*/
